*{
    margin:0;
    padding: 0;
}


.authPage{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: aliceblue;

}
.authLeft{
    width: 60%;
    height: 100%;
    overflow: hidden;
    font-family: font1;
    position: relative;

}
.authLeft img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;

}
.authLeftWrapper{
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}
.authMiniCont{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    color: aliceblue;
}
.dots{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 6px;

}
.ld{
    width: 100px;
    height: 10px;
    border-radius: 10px;
        background: aliceblue;

}
.sd{
    width: 10px;
    height: 10px;
    background: rgba(240, 248, 255, 0.486);
    border-radius: 10px;
}
.sd:nth-child(2){
    margin: 0 10px !important;

}
.authMiniCont h1{
  font-family: font1Bold;
}
.authMiniCont p{
    opacity: .7;
    margin: 10px 0px 30px 0;
    width: 80%;

}
.authRight{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: font1;
    align-items: center;
}
.authRightWrap{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.authLog,.authSign{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.authLog form,.authSign form{
    width: 100%;
}
.authIntro{
    display: flex;
    flex-direction: column;
}
.authIntro img{
    width: 100px;
    margin-bottom: 30px;
}
.authIntro span{
    font-size: 1.7rem;
    font-family: font1Bold;
}
.authIntro h4{
}
.authIntro p {
        margin-top: 5px;

}
.authContWrap{
    width: 100%;
    margin-top: 30px;
    height: fit-content;

}
.inputWrap{
    height: 45px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(128, 128, 128, 0.2);
    margin-top: 10px;


}
.inputIcon{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputActWrap{
    height: 100%;
    width: calc(100% - 45px);
}
.inputActWrap input{
    width: 100%;
    height: 100%;
    
}

.authBtnWrap{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;

}
.authBtnWrap button{
    width: 100%;
    cursor: pointer;
    background: var(--pri-color);
    border-radius: 5px;
    height: 100%;
    font-size: 1rem;
    border: none;
    color: aliceblue;
    font-family: font1;
}
.authOpt {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
        margin-top: 20px;
        display: flex;
        

}

.authOpt p{
    color: rgba(0, 0, 0, 0.692);
}
.authOpt p:nth-child(2){
    color: rgba(0, 0, 0, 0.692);
    cursor: pointer;
}
.authOpt span{
    color: var(--pri-color);
    text-decoration: underline;

    cursor: pointer;
}
.inputIcon .faIcon{
    color: var(--pri-color);
  font-size: 20px;
}
@media only screen and (max-width:992px ){
 .authLeft{
    display: none;
 }
 .authRight{
    width: 100%;
 }    
 .authRightWrap{
    width: 90%;
 }
 .authOpt p{
    font-size: .9rem;
 }
}