@font-face {
     font-family: font1;
    src: url(./media/font1/GoogleSans-Regular.ttf);
}
@font-face {
    font-family: font1Bold;
    src: url(./media/font1/GoogleSans-Bold.ttf);
}
input{
    border: none;
 background: none;
 font-family: font1;
 font-size: 1rem;
}
body{
    font-family: font1;
}
input:focus{
    outline: none;
}



:root{
  --pri-color:#EC1C24;
  --pri2-color:#F9BA04;
}
body{
    overflow-x: hidden;
}
.swal2-title{
    font-size: 2rem;
    font-family: font1;
    font-weight: 400;
    letter-spacing: -1px;
}
.swal2-popup{
    font-family: font1;
}
.swal2-cancel{
    background: var(--pri-color);
    color: aliceblue;
    /* border: 1px solid var(--pri-color); */
}
.swal2-cancel{
    background: var(--pri-color);
    color: aliceblue;
    border: none;
    font-family: font1;
}
.swal2-confirm:focus{
    outline: none;
}
.swal2-confirm:hover{
    color: var(--pri-color);
    background: none;
}
.swal2-confirm{
    background: none;
        font-family: font1;
        

    color: var(--pri-color);
    border: 1px solid var(--pri-color);
}
body{
  font-family: font1;
}

input{
 border: none;
 background: none;
 font-family: font1;
 font-size: 1rem;
}
input:focus{
    outline: none;
}
h1{
    font-size: 4.5rem;
    line-height: 75px;
    font-family: font1Bold;
}
h2{
    font-size: 3.5rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.2rem;
}
h5{
    font-size: 1rem;
}
p{
    font-size: 1.2rem;
    line-height: 30px;
}
button{
    font: 1.2rem !important;
    font-family: font1;
}

@media only screen and (max-width:992px ){
h1{
    font-size: 2.3rem ;
    line-height: 40px;
    font-family: font1Bold;
}
h2{
    font-size: 1.8rem;    
    line-height: 40px !important;

}
h3{
    font-size: 1.4rem;
}
h4{
    font-size: 1.2rem;
}
h5{
    font-size: 1rem;
}
p{
    font-size: 1.1rem;
    line-height: 22px;
}
button{
    font: 1.2rem !important;
    font-family: font1;
}

}

@media (min-width:993px) and (max-width:1024px) {
    h1{
    font-size: 2.5rem ;
    line-height: 45px;
    font-family: font1Bold;
}
h2{
    font-size: 1.6rem;    
    line-height: 40px !important;

}
h3{
    font-size: 1.1rem;
}
h4{
    font-size: 1rem;
}
h5{
    font-size: 1rem;
}
p{
    font-size: .8rem;
    line-height: 22px;
}
button{
    font: 1rem !important;
    font-family: font1;
}

}